/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom CSS */

h2 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

p {
  padding: 10px 0;
}

header, footer {
  align-items: center;
  padding: 0;
  background-color: #dbdbdb;
  width: 100%;
  margin: 0;
}

header {
  position: fixed;
  height: 180px;
  top: 0;
  left: 0;
  z-index: 1000;
  border-bottom: 1px dotted #6e6e6e;
}

footer {
  border-top: 1px dotted #6e6e6e;
}

header > div {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

footer > div {
  display: flex;
  justify-content: space-between;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;  
  font-variation-settings: "wdth" 100;
  background-color: #fff;
  color: #333;
  line-height: 1.6;
  padding-top: 200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: #A00;
}

.navbar {
  color: #000;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  width: 35%;
  align-items: center;
}

.photo {
  width: 125px;
  border-radius: 50%;
  border: 2px solid #5e5e5e;
  margin-right: 10px;
}

.name {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #0f0f0f;
  margin: 0;
  padding: 0 10px;
}

.name-title {
  padding: 0;
  margin: 0;
}

.content {
  background-color: #f9f9f9;
  border: #dfdfdf solid 1px;
  border-radius: 15px;
  padding: 10px 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 65%;
}

section {
  scroll-margin-top: 200px;
  margin: 25px 0;
}

nav a {
  position: relative;
  font-family: "Source Sans 3", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #555;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

nav a:hover {
  color: #000;
}

nav a:hover::before {
  position: absolute;
  left: 0;
  content: "•";
  color: black;
}

nav a:hover::after {
  position: absolute;
  right: 0;
  content: "•";
  color: black;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;  
  list-style: none;
  margin-right: 40px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.project-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  background-color: #f9f9f9;
  border: #dfdfdf solid 1px;
  border-radius: 15px;
  padding: 10px 20px;
}

.project-header {
  width: 100%;
}

.project {
  background-color: #F1F1F1;
  border: 1px solid #CCC;
  border-radius: 8px;
  display: flex;
  flex-direction: column; 
  width: calc(33.333% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.project-links {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
}

.project:hover {
  background-color: #e2e2e2;
}

.project-content {
  padding: 0 10px;
}

.project > a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  color: #000;
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.copyright {
  font-size: 12px;
  color: #414141;
}