/* index.css */

/* Reset some default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: #ffffff; /* Light background */
    color: #333; /* Dark text */
    padding: 0px;
  }

  nav {
    background-color: #000;
  }
  
  /* Set up a container for general content */
  .container {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  /* General typography */
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #2c3e50;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 3rem;
    margin-top: 40px;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  /* Link Styling */
  a {
    text-decoration: none;
    color: #3498db;
  }
  
  a:hover {
    color: #0f88d8;
  }
  
  /* Card Layout */
  .card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    background-color: #eeeeee;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #2e2e2e;
    border: 3px;
    border-color: #000;
  }

  .nav-link {
    display: inline-block;
    padding: 10px 10px;
    margin-left: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #000000;
    text-align: center;
  }
  
  .nav-link:hover {
    color: rgb(207, 207, 207)
  }
  
  /* Flexbox for Project Preview Section */
  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .col-md-4 {
    flex: 1 1 calc(33.333% - 20px); /* 3 equal columns */
  }
  
  @media (max-width: 768px) {
    .col-md-4 {
      flex: 1 1 95%; /* Full width for smaller screens */
    }
  }
  
  /* About Section */
  section {
    margin-top: 40px;
  }
  
  ul {
    list-style: none;
  }
  
  ul li {
    margin-bottom: 0px;
  }
  
  /* Responsive Typography */
  @media (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.25rem;
    }
  }
  